* {
    padding: 0;
    margin: 0%;
}
body {
    background: linear-gradient(45deg, #2e333a, #bebebe) no-repeat;
    height: 100vh;
}
.window {
    background: rgba(154, 161, 165, 0.5);
    margin: 0px;
    padding: 30px;
    position: absolute;
    top: 27%;
    left: 35%;
    border-radius: 5%;
    border: 2px solid white;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
input {
    margin: 5px; 
}
form {
    color: aliceblue;
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
}
.but {
    width: 45%;
    height: 25px;
}
#butt {
    align-items: center;
    position: relative;
    left: 25%;
}
#var, p {
    margin-left: 5px;
}
li {
    display: inline-block;
    float: right;
    position: relative;
    padding-top: 20px;
}
.ua {
    margin-right: 30px;
    padding-left: 5px;
    
}
a {
    background-color: #888888;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.act {
    background-color: rgb(111, 111, 116);
    color:  #bebebe;  
}